body{
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    justify-items: center;
}

.regulation p:last-of-type{
    grid-column-start: 2;
}

.regulation{
    margin-top: 50px;
}

.regulation > p{
    padding: 1.2rem 2rem;
    background-color: green;
    color: white;
    cursor: pointer;
} 

.form{
    border: 1px solid black;
    padding: 15px;
}

.form .box{
    margin-top: 100px;
    margin-bottom: 40px;
    width: 150px;
    height: 80px;
    background-color: black;
    transition: all 0.2s ease;
}

.box.right{
    margin-left: auto;
}

.box.left{
    margin-right: auto;
    margin-left: 0;
}

.box.center{
    margin-left: auto;
    margin-right: auto;
}